{% extends "layouts/base.html" %}

{% block content %}
  <div class="wrapper">
    <div class="beans">
      <div class="icon">
        {% include "icons/bean.svg" %}
      </div>
      <div class="item">
        6 g
      </div>
      <div class="item">
        9 g
      </div>
      <div class="item">
        12 g
      </div>
      <div class="item">
        15 g
      </div>
      <div class="item">
        18 g
      </div>
      <div class="item">
        24 g
      </div>
      <div class="item">
        30 g
      </div>
      <div class="item">
        36 g
      </div>
      <div class="item">
        42 g
      </div>
      <div class="item">
        48 g
      </div>
      <div class="item">
        56 g
      </div>
      <div class="item">
        60 g
      </div>
    </div>
    <div class="water">
      <div class="icon">
        {% include "icons/drop.svg" %}
      </div>
      <div class="item">
        100 ml
      </div>
      <div class="item">
        150 ml
      </div>
      <div class="item">
        200 ml
      </div>
      <div class="item">
        250 ml
      </div>
      <div class="item">
        300 ml
      </div>
      <div class="item">
        400 ml
      </div>
      <div class="item">
        500 ml
      </div>
      <div class="item">
        600 ml
      </div>
      <div class="item">
        700 ml
      </div>
      <div class="item">
        800 ml
      </div>
      <div class="item">
        900 ml
      </div>
      <div class="item">
        1000 ml
      </div>
    </div>
  </div>
{% endblock %}