@import 'reset';

:root {
  --primary: #fcfcfc;
  --secondary: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #111;
    --secondary: #fcfcfc;
  }
}

html {
  background: var(--primary);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--secondary);
  font-size: 1.5rem;
  line-height: 1.5;
  opacity: 0;
  animation: blendIn 1000ms ease-in-out 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  @keyframes blendIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

:focus {
  outline: 2px dashed var(--secondary);
  outline-offset: 0.25rem;
}

::selection {
  color: var(--primary);
  background: var(--secondary);
}

@import 'home';