@import 'reset';

$light: #fcfcfc;
$dark: #111;

html {
  background: $light;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $dark;
  font-size: 1.5rem;
  line-height: 1.5;
  opacity: 0;
  animation: blendIn 1000ms ease-in-out 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  @keyframes blendIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

:focus {
  outline: 2px dashed $dark;
  outline-offset: 0.25rem;
}

::selection {
  color: $light;
  background: $dark;
}

@import 'home';

@media (prefers-color-scheme: dark) {
  $light: #111;
  $dark: #fcfcfc;
}