@import 'reset';

$primary: rebeccapurple;
$secondary: floralwhite;

$coffee: sienna;
$water: skyblue;

html {
  background: $secondary;
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  color: $primary;
  font-size: 2rem;
  line-height: 1.5;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: blendIn 1000ms ease-in-out 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes blendIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

:focus {
  outline: 2px dashed $primary;
  outline-offset: 0.25rem;
}

::selection {
  color: $secondary;

  background: $primary;
}

.wrapper {
  max-width: 24rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beans svg {
  fill: $coffee;
}

.water svg {
  fill: $water;
}